    <style>
        body {
            padding-top: 56px; /* Adjusts for the fixed navbar height */
        }
        .footer {
            margin-top:56px;
            padding-top:56px;
            width: 100%;
            height: 160px;
            background-color: #f5f5f5;
        }
        .panel-heading {
            display: flex;
        }
        .bi-chevron-down {
            font-size: 1rem;
            margin-right: 3px;
        }
        .bi-chevron-right {
            font-size: 1rem;
            margin-right: 3px;
        }
        h2 {
            padding-top: 24px;
        }
        h5 {
            padding-top: 12px;
        }
        h6 {
            padding-top: 4px;
        }
    </style>

    <title>Sharefinder Scan Report</title>
</head>

<body>

<script>
    function toggleChevron(element) {
        let chevron = element.getElementsByTagName("i")[0]
        chevron.classList.toggle("bi-chevron-right")
        chevron.classList.toggle("bi-chevron-down")
    }

    function logn(n, b) {
        return Math.log(n) / Math.log(b);
    }

    function bytesToHumanReadableSize(s) {
        const base = 1000;
        const sizes = ["B", "kB", "MB", "GB", "TB", "PB", "EB"];

        if (s < 10) {
            return `${s} B`;
        }

        let e = Math.floor(logn(s, base));
        let suffix = sizes[e];
        let val = Math.floor((s / Math.pow(base, e)) * 10 + 0.5) / 10;

        return val < 10 ? `${val.toFixed(1)} ${suffix}` : `${val.toFixed(0)} ${suffix}`;
    }
</script>

<nav class="navbar navbar-expand-md bg-secondary fixed-top">
    <div class="container-md">
        <a class="navbar-brand text-white" href="#">sharefinder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav gap-2">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#hosts">Hosts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#shares">Shares</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#files">Files</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="content" class="container-md">
    <div id="summary" class="mt-4 p-5 bg-light rounded">
        <h1>Sharefinder Scan Report</h1>
        <h2 class="text-muted pt-0">sharefinder {{ .Version }}</h2>
        <p id="summary-time" class="lead">{{ .FormattedTimeStart }} - {{ .TimeEnd.FormattedTime }}</p>
    </div>

    <!-- Summary of identified hosts with version number, hostname, domain name, signing, SMBv1, number of shares -->
    <h2>Identified Hosts</h2>
    <div id="hosts">
        <table id="table-hosts" class="table table-hover table-sm">
            <thead>
            <tr>
                <th>IP</th>
                <th>Hostname</th>
                <th>Domain</th>
                <th>Version</th>
                <th>Signing</th>
                <th>Shares</th>
            </tr>
            </thead>
            <tbody>
                {{ range $host := .Hosts }}
                <tr>
                    <td><a href="#{{ $host.IP }}">{{ $host.IP }}</a></td>
                    <td>{{ $host.Hostname }}</td>
                    <td class="text-break">{{ $host.Domain }}</td>
                    <td>{{ $host.Version }}</td>
                    <td>{{ $host.Signing }}</td>
                    <td>{{ len $host.Shares }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function() {
            $('#table-hosts').DataTable({
                "lengthMenu": [ [20, 100, -1], [20, 100, "All"] ],
            });
        });
    </script>

    <!-- Detailed results for each identified host. -->
    <h2>Shares</h2>
    <div id="shares">
        {{ range $host := .Hosts }}
        <div class="panel panel-default border rounded pt-2 mt-1 bg-light">
            <div onclick="toggleChevron(this)" class="panel-heading px-3" data-bs-toggle="collapse" data-bs-target="#{{ $host.IP }}" role="button">
                <i class="bi bi-chevron-down"></i>
                <h5 class="panel-title pt-0">{{ $host.IP }} ({{ $host.Hostname }})</h5>
            </div>
            <div class="panel-body collapse in show bg-white px-3 border-top border-bottom" id="{{ $host.IP }}" aria-expanded="true">
                <h5 class="pt-2">Host details</h5>
                <table class="table table-bordered">
                    <thead>
                    <tr class="table-light">
                        <th>IP</th>
                        <th>Hostname</th>
                        <th>Domain</th>
                        <th>Version</th>
                        <th>Signing</th>
                        <th>Shares</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ $host.IP }}</td>
                        <td>{{ $host.Hostname }}</td>
                        <td class="text-break">{{ $host.Domain }}</td>
                        <td>{{ $host.Version }}</td>
                        <td>{{ $host.Signing }}</td>
                        <td>{{ len $host.Shares }}</td>
                    </tr>
                    </tbody>
                </table>
                <h5>Shares</h5>
                {{ range $share := $host.Shares }}
                <table id="hostShares" class="table table-bordered">
                    <thead>
                        <tr class="table-light">
                            <th>Name</th>
                            <th>Description</th>
                            <th>Readable</th>
                            <th>Writable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="{{ if $share.WritePermission }}table-danger{{ else }}{{ if $share.ReadPermission }}table-warning{{ end }}{{ end }}" >
                            <td>{{ $share.ShareName }}</td>
                            <td>{{ $share.Description }}</td>
                            <td>{{ $share.ReadPermission }}</td>
                            <td>{{ $share.WritePermission }}</td>
                        </tr>

                        {{ if $share.Files }}
                        <tr class="">
                            <td colspan="4">
                                <h5 class="text-break">Listing share: {{ $share.ShareName }}</h5>
                                <div>
                                    <table class="hostFiles table table-hover table-sm">
                                        <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Name</th>
                                            <th>Size</th>
                                            <th>Last Modified</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{ range $file := $share.Files }}
                                        {{ if eq $file.Type "dir" }}
                                        <tr>
                                            <td>{{ $file.Type }}</td>
                                            <td>{{ $file.Name }}</td>
                                            <td>{{ $file.Size }}</td>
                                            <td>{{ $file.LastModified }}</td>
                                        </tr>
                                        {{ end }}
                                        {{ end }}

                                        {{ range $file := $share.Files }}
                                        {{ if ne $file.Type "dir" }}
                                        <tr>
                                            <td>{{ $file.Type }}</td>
                                            <td>{{ $file.Name }}</td>
                                            <td>{{ $file.Size }}</td>
                                            <td>{{ $file.LastModified }}</td>
                                        </tr>
                                        {{ end }}
                                        {{ end }}
                                        </tbody>
                                    </table>
                                </div>

                                {{ range $directory := $share.Directories }}
                                <h5 class="text-break">{{ $directory.Name }}</h5>

                                {{ if len $directory.Files }}
                                <div>
                                    <table class="hostFiles table table-hover table-sm">
                                        <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Name</th>
                                            <th>Size</th>
                                            <th>Last Modified</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {{ range $file := $directory.Files }}
                                        <tr>
                                            <td>{{ $file.Type }}</td>
                                            <td>{{ $file.Name }}</td>
                                            <td>{{ $file.Size }}</td>
                                            <td>{{ $file.LastModified }}</td>
                                        </tr>
                                        {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                                {{ end }}

                                {{ end }}
                            </td>
                        </tr>
                        {{ end }}
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
        {{ end }}
    </div>

    <!-- List of identified files and directories -->
    <h2>Identified Files</h2>
    <div id="files">
        <table id="tableFiles" class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Share</th>
                    <th>Filename</th>
                    <th>Path</th>
                    <th>Size</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
            {{ range $host := .Hosts }}
            {{ range $share := $host.Shares }}

            {{ range $file := $share.Files }}
            {{ if ne $file.Type "dir" }}
            <tr>
                <td>{{ $host.IP }}</td>
                <td>{{ $share.ShareName }}</td>
                <td>{{ $file.Name }}</td>
                <td class="text-break">{{ $file.Parent }}</td>
                <td>{{ $file.Size }}</td>
                <td>{{ $file.LastModified }}</td>
            </tr>
            {{ end }}
            {{ end }}

            {{ range $directory := $share.Directories }}
            {{ range $file := $directory.Files }}
            {{ if ne $file.Type "dir" }}
            <tr>
                <td>{{ $host.IP }}</td>
                <td>{{ $share.ShareName }}</td>
                <td style="white-space:pre-wrap; word-wrap:break-word;">{{ $file.Name }}</td>
                <td class="text-break">{{ $file.Parent }}</td>
                <td>{{ $file.Size }}</td>
                <td>{{ $file.LastModified }}</td>
            </tr>
            {{ end }}
            {{ end }}
            {{ end }}

            {{ end }}
            {{ end }}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function() {
            $('table.hostFiles').DataTable({
                searching: false,
                ordering: false,
                paging: false,
                info: false,
                columnDefs: [
                    {
                        targets: 2,
                        render: function (data, type, row, meta) {
                            return bytesToHumanReadableSize(data)
                        }
                    },
                    {
                        targets: 3,
                        render: function(data, type, row, meta) {
                            // Remove microseconds and extra timezone information
                            let cleanedInput = data.replace(/\.\d+\s\+\d{4}\s\+\d{2}$/, '');

                            // Convert to Date object
                            let date = new Date(cleanedInput);

                            // Format the date
                            let formattedDate = date.toLocaleString("en-GB", {
                                day: "2-digit",
                                month: "2-digit",
                                year: "numeric",
                                hour: "2-digit",
                                minute: "2-digit",
                                second: "2-digit",
                                hour12: false
                            });

                            return formattedDate.replace(',', '');
                        }
                    }
                ]
            })

            $('#tableFiles').DataTable({
                order: [[0, "asc"]],
                "lengthMenu": [ [20, 100, -1], [20, 100, "All"] ],
                "columnDefs": [
                    {
                        targets: 4,
                        render: function (data, type, row, meta) {
                            return bytesToHumanReadableSize(data)
                        },
                        type: "file-size"
                    },
                    {
                        targets: 5,
                        render: function(data, type, row, meta) {
                            // Remove microseconds and extra timezone information
                            let cleanedInput = data.replace(/\.\d+\s\+\d{4}\s\+\d{2}$/, '');

                            // Convert to Date object
                            let date = new Date(cleanedInput);

                            // Format the date
                            let formattedDate = date.toLocaleString("en-GB", {
                                day: "2-digit",
                                month: "2-digit",
                                year: "numeric",
                                hour: "2-digit",
                                minute: "2-digit",
                                hour12: false
                            });

                            return formattedDate.replace(',', '');
                        }
                    }
                ]
            });
        });
    </script>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">
            This report was generated by <a href="https://github.com/vflame6/sharefinder">sharefinder</a>.
            <br>
            Designed and built by Maksim Radaev (<a href="https://maksimradaev.com/about-me/">@vflame6</a>).
            <br>
        </p>
    </div>
</footer>

</body>
</html>
